* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  position: relative;
  height: 100%;
  font-family: serif;
}

.valo-main {
  max-width: 150rem;
  margin: 0 auto;
  height: 100%;
}

.valo-back {
  background-image: url(/image/valorant\ back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.valo-title-d {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  background-color: #ffffffc9;
  color: #f94555;
}

.valo-a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 1rem;
  font-size: 2.4rem;
}

.valo-git {
  width: 5rem;
}

.valo-form {
  padding: 2rem 1rem 1.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.valo-error{
  display: none;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.valo-input {
  padding: 1rem;
  font-size: 1.6rem;
}

.btn-in {
  background-color: #f94555;
  color: #fff;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  transition: all .3s;
}

.btn-in:hover {
  cursor: pointer;
  color: #f94555;
  background-color: #fff;
  border: 2px solid #f94555;
}

.valo-show{
  height: calc(100% - 150.5px);
  overflow: auto;
  font-size: 2rem;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  align-items: start;
}

/* For WebKit-based browsers */
.valo-show::-webkit-scrollbar {
  display: none;
}

.valo-match{
  font-size: 1rem;
  background-color: white;
  padding: 5rem 1rem 1rem 1.8rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: start;
  gap: 1rem;
  word-break: break-all;
  position: relative;
  border-radius: 5px;
  transition: all .3s;
}

.valo-match:hover{
  transform: scale(1.05);
}

.valo-created-title{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #f94555;
  color: #fff;
  font-size: 2rem;
}

.valo-created-result{
  grid-column: span 2;
  text-align: center;
}

.blue-team{
  color: blue;
}

.red-team{
  color: red;
}